[Desktop Entry]
Version=1.0
Type=Application
Name=MagicQ
Comment=ChamSys MagicQ Lighting Console
Exec=/opt/magicq/runmagicq.sh
Icon=/opt/magicq/splash.jpg
Terminal=false
Categories=AudioVideo;
StartupNotify=true
